/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --decor-color: #ff0070;
  --decor-color-hover: rgba(255, 0, 112, 0.4);
  --header-title-color: #db00ff;
  --header-paragraph-color: #000028;
  --main-title-color: #ff0070;
  --main-article-title-color: #000028;
  --main-article-paragraph-color: #f1b2ce;
  --padding: 10px;
}

@media (width > 375px) {
  :root {
    --padding: 20px;
  }
}
